@page "/employee"
@inject HttpClient Http
@using Clean.Shared

<h1>Employee Data</h1>

<p>
    <a href="/employee/add">Create</a>
</p>

@if (empList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Location</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in empList)
            {
                <tr>
                    <td>@emp.EmployeeId</td>
                    <td>@emp.Name</td>
                    <td>@emp.Designation</td>
                    <td>@emp.Email</td>
                    <td>@emp.Location</td>
                    <td>@emp.PhoneNumber</td>
                    <td>
                        <a href='/employee/edit/@emp.EmployeeId'>Edit</a>  |
                        <a href='/employee/delete/@emp.EmployeeId'>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Clean.Shared.Employee[] empList;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            empList = await Http.GetFromJsonAsync<Employee[]>("api/Employee/Index");
        }
        //catch (HttpRequestException) // Non success
        //{
        //    Console.WriteLine("An error occurred.");
        //}

        ////catch (NotSupportedException) // When content type is not valid
        ////{
        ////    Console.WriteLine("The content type is not supported.");
        ////}
        catch (Exception ex)
        {
            string foo = ex.ToString();
        }

    }
}
